<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<div class="tx-mmdamfilelist-pi1-singleview">
	<div ###LABEL_BIG_PREVIEW_IMAGE_CLASS###>###LABEL_BIG_PREVIEW_IMAGE###</div>
	<div ###BIG_PREVIEW_IMAGE_CLASS###>###BIG_PREVIEW_IMAGE###</div>
	<div ###LABEL_TSTAMP_CLASS###>###LABEL_TSTAMP###</div>
	<div ###TSTAMP_CLASS###>###TSTAMP###</div>
	<div ###LABEL_CRDATE_CLASS###>###LABEL_CRDATE###</div>
	<div ###CRDATE_CLASS###>###CRDATE###</div>
	<div ###LABEL_CRUSER_ID_CLASS###>###LABEL_CRUSER_ID###</div>
	<div ###CRUSER_ID_CLASS###>###CRUSER_ID###</div>
	<div ###LABEL_DELETED_CLASS###>###LABEL_DELETED###</div>
	<div ###DELETED_CLASS###>###DELETED###</div>
	<div ###LABEL_ACTIVE_CLASS###>###LABEL_ACTIVE###</div>
	<div ###ACTIVE_CLASS###>###ACTIVE###</div>
	<div ###LABEL_SORTING_CLASS###>###LABEL_SORTING###</div>
	<div ###SORTING_CLASS###>###SORTING###</div>
	<div ###LABEL_HIDDEN_CLASS###>###LABEL_HIDDEN###</div>
	<div ###HIDDEN_CLASS###>###HIDDEN###</div>
	<div ###LABEL_STARTTIME_CLASS###>###LABEL_STARTTIME###</div>
	<div ###STARTTIME_CLASS###>###STARTTIME###</div>
	<div ###LABEL_ENDTIME_CLASS###>###LABEL_ENDTIME###</div>
	<div ###ENDTIME_CLASS###>###ENDTIME###</div>
	<div ###LABEL_FE_GROUP_CLASS###>###LABEL_FE_GROUP###</div>
	<div ###FE_GROUP_CLASS###>###FE_GROUP###</div>
	<div ###LABEL_MEDIA_TYPE_CLASS###>###LABEL_MEDIA_TYPE###</div>
	<div ###MEDIA_TYPE_CLASS###>###MEDIA_TYPE###</div>
	<div ###LABEL_TITLE_CLASS###>###LABEL_TITLE###</div>
	<div ###TITLE_CLASS###>###TITLE###</div>
	<div ###LABEL_CATEGORY_CLASS###>###LABEL_CATEGORY###</div>
	<div ###CATEGORY_CLASS###>###CATEGORY###</div>
	<div ###LABEL_FILE_MIME_TYPE_CLASS###>###LABEL_FILE_MIME_TYPE###</div>
	<div ###FILE_MIME_TYPE_CLASS###>###FILE_MIME_TYPE###</div>
	<div ###LABEL_FILE_MIME_SUBTYPE_CLASS###>###LABEL_FILE_MIME_SUBTYPE###</div>
	<div ###FILE_MIME_SUBTYPE_CLASS###>###FILE_MIME_SUBTYPE###</div>
	<div ###LABEL_FILE_TYPE_CLASS###>###LABEL_FILE_TYPE###</div>
	<div ###FILE_TYPE_CLASS###>###FILE_TYPE###</div>
	<div ###LABEL_FILE_TYPE_VERSION_CLASS###>###LABEL_FILE_TYPE_VERSION###</div>
	<div ###FILE_TYPE_VERSION_CLASS###>###FILE_TYPE_VERSION###</div>
	<div ###LABEL_FILE_NAME_CLASS###>###LABEL_FILE_NAME###</div>
	<div ###FILE_NAME_CLASS###>###FILE_NAME###</div>
	<div ###LABEL_FILE_PATH_CLASS###>###LABEL_FILE_PATH###</div>
	<div ###FILE_PATH_CLASS###>###FILE_PATH###</div>
	<div ###LABEL_FILE_SIZE_CLASS###>###LABEL_FILE_SIZE###</div>
	<div ###FILE_SIZE_CLASS###>###FILE_SIZE###</div>
	<div ###LABEL_FILE_MTIME_CLASS###>###LABEL_FILE_MTIME###</div>
	<div ###FILE_MTIME_CLASS###>###FILE_MTIME###</div>
	<div ###LABEL_FILE_INODE_CLASS###>###LABEL_FILE_INODE###</div>
	<div ###FILE_INODE_CLASS###>###FILE_INODE###</div>
	<div ###LABEL_FILE_CTIME_CLASS###>###LABEL_FILE_CTIME###</div>
	<div ###FILE_CTIME_CLASS###>###FILE_CTIME###</div>
	<div ###LABEL_FILE_HASH_CLASS###>###LABEL_FILE_HASH###</div>
	<div ###FILE_HASH_CLASS###>###FILE_HASH###</div>
	<div ###LABEL_FILE_STATUS_CLASS###>###LABEL_FILE_STATUS###</div>
	<div ###FILE_STATUS_CLASS###>###FILE_STATUS###</div>
	<div ###LABEL_FILE_ORIG_LOCATION_CLASS###>###LABEL_FILE_ORIG_LOCATION###</div>
	<div ###FILE_ORIG_LOCATION_CLASS###>###FILE_ORIG_LOCATION###</div>
	<div ###LABEL_FILE_ORIG_LOC_DESC_CLASS###>###LABEL_FILE_ORIG_LOC_DESC###</div>
	<div ###FILE_ORIG_LOC_DESC_CLASS###>###FILE_ORIG_LOC_DESC###</div>
	<div ###LABEL_FILE_CREATOR_CLASS###>###LABEL_FILE_CREATOR###</div>
	<div ###FILE_CREATOR_CLASS###>###FILE_CREATOR###</div>
	<div ###LABEL_THUMB_CLASS###>###LABEL_THUMB###</div>
	<div ###THUMB_CLASS###>###THUMB###</div>
	<div ###LABEL_THUMB_PATH_CLASS###>###LABEL_THUMB_PATH###</div>
	<div ###THUMB_PATH_CLASS###>###THUMB_PATH###</div>
	<div ###LABEL_FILE_DL_NAME_CLASS###>###LABEL_FILE_DL_NAME###</div>
	<div ###FILE_DL_NAME_CLASS###>###FILE_DL_NAME###</div>
	<div ###LABEL_FILE_USAGE_CLASS###>###LABEL_FILE_USAGE###</div>
	<div ###FILE_USAGE_CLASS###>###FILE_USAGE###</div>
	<div ###LABEL_META_CLASS###>###LABEL_META###</div>
	<div ###META_CLASS###>###META###</div>
	<div ###LABEL_IDENT_CLASS###>###LABEL_IDENT###</div>
	<div ###IDENT_CLASS###>###IDENT###</div>
	<div ###LABEL_CREATOR_CLASS###>###LABEL_CREATOR###</div>
	<div ###CREATOR_CLASS###>###CREATOR###</div>
	<div ###LABEL_KEYWORDS_CLASS###>###LABEL_KEYWORDS###</div>
	<div ###KEYWORDS_CLASS###>###KEYWORDS###</div>
	<div ###LABEL_DESCRIPTION_CLASS###>###LABEL_DESCRIPTION###</div>
	<div ###DESCRIPTION_CLASS###>###DESCRIPTION###</div>
	<div ###LABEL_ABSTRACT_CLASS###>###LABEL_ABSTRACT###</div>
	<div ###ABSTRACT_CLASS###>###ABSTRACT###</div>
	<div ###LABEL_SEARCH_CONTENT_CLASS###>###LABEL_SEARCH_CONTENT###</div>
	<div ###SEARCH_CONTENT_CLASS###>###SEARCH_CONTENT###</div>
	<div ###LABEL_LANGUAGE_CLASS###>###LABEL_LANGUAGE###</div>
	<div ###LANGUAGE_CLASS###>###LANGUAGE###</div>
	<div ###LABEL_PAGES_CLASS###>###LABEL_PAGES###</div>
	<div ###PAGES_CLASS###>###PAGES###</div>
	<div ###LABEL_PUBLISHER_CLASS###>###LABEL_PUBLISHER###</div>
	<div ###PUBLISHER_CLASS###>###PUBLISHER###</div>
	<div ###LABEL_COPYRIGHT_CLASS###>###LABEL_COPYRIGHT###</div>
	<div ###COPYRIGHT_CLASS###>###COPYRIGHT###</div>
	<div ###LABEL_INSTRUCTIONS_CLASS###>###LABEL_INSTRUCTIONS###</div>
	<div ###INSTRUCTIONS_CLASS###>###INSTRUCTIONS###</div>
	<div ###LABEL_DATE_CR_CLASS###>###LABEL_DATE_CR###</div>
	<div ###DATE_CR_CLASS###>###DATE_CR###</div>
	<div ###LABEL_DATE_MOD_CLASS###>###LABEL_DATE_MOD###</div>
	<div ###DATE_MOD_CLASS###>###DATE_MOD###</div>
	<div ###LABEL_LOC_DESC_CLASS###>###LABEL_LOC_DESC###</div>
	<div ###LOC_DESC_CLASS###>###LOC_DESC###</div>
	<div ###LABEL_LOC_COUNTRY_CLASS###>###LABEL_LOC_COUNTRY###</div>
	<div ###LOC_COUNTRY_CLASS###>###LOC_COUNTRY###</div>
	<div ###LABEL_LOC_CITY_CLASS###>###LABEL_LOC_CITY###</div>
	<div ###LOC_CITY_CLASS###>###LOC_CITY###</div>
	<div ###LABEL_HRES_CLASS###>###LABEL_HRES###</div>
	<div ###HRES_CLASS###>###HRES###</div>
	<div ###LABEL_VRES_CLASS###>###LABEL_VRES###</div>
	<div ###VRES_CLASS###>###VRES###</div>
	<div ###LABEL_HPIXELS_CLASS###>###LABEL_HPIXELS###</div>
	<div ###HPIXELS_CLASS###>###HPIXELS###</div>
	<div ###LABEL_VPIXELS_CLASS###>###LABEL_VPIXELS###</div>
	<div ###VPIXELS_CLASS###>###VPIXELS###</div>
	<div ###LABEL_COLOR_SPACE_CLASS###>###LABEL_COLOR_SPACE###</div>
	<div ###COLOR_SPACE_CLASS###>###COLOR_SPACE###</div>
	<div ###LABEL_WIDTH_CLASS###>###LABEL_WIDTH###</div>
	<div ###WIDTH_CLASS###>###WIDTH###</div>
	<div ###LABEL_HEIGHT_CLASS###>###LABEL_HEIGHT###</div>
	<div ###HEIGHT_CLASS###>###HEIGHT###</div>
	<div ###LABEL_HEIGHT_UNIT_CLASS###>###LABEL_HEIGHT_UNIT###</div>
	<div ###HEIGHT_UNIT_CLASS###>###HEIGHT_UNIT###</div>
	<div ###LABEL_SYS_LANGUAGE_UID_CLASS###>###LABEL_SYS_LANGUAGE_UID###</div>
	<div ###SYS_LANGUAGE_UID_CLASS###>###SYS_LANGUAGE_UID###</div>
	<div ###LABEL_L18N_PARENT_CLASS###>###LABEL_L18N_PARENT###</div>
	<div ###L18N_PARENT_CLASS###>###L18N_PARENT###</div>
	<div ###LABEL_L18N_DIFFSOURCE_CLASS###>###LABEL_L18N_DIFFSOURCE###</div>
	<div ###L18N_DIFFSOURCE_CLASS###>###L18N_DIFFSOURCE###</div>
	<div ###LABEL_T3VER_OID_CLASS###>###LABEL_T3VER_OID###</div>
	<div ###T3VER_OID_CLASS###>###T3VER_OID###</div>
	<div ###LABEL_T3VER_ID_CLASS###>###LABEL_T3VER_ID###</div>
	<div ###T3VER_ID_CLASS###>###T3VER_ID###</div>
	<div ###LABEL_T3VER_LABEL_CLASS###>###LABEL_T3VER_LABEL###</div>
	<div ###T3VER_LABEL_CLASS###>###T3VER_LABEL###</div>
</div>
<!--###TEMPLATE_DEFAULT### end -->